[2012-01-09 20:08] lwille opened #1 "Detect a camera by its USB Port / Serial Number"
Asynchronously checks wether the specified camera is connected and returns either an error or a Camera object.

[2012-01-09 20:11] lwille opened #2 "Read/Write camera configuration values"
Camera object should provide getConfigValue and setConfigValue methods to asynchronously read/write configuration Values.

GetConfigValue should accept both a single String but also a String[] for key, and return an Object for the latter case.
SetConfigValue should accept key,value parameters but also an Object { key:value, key:value }.

Both methods take a Callback function as the last parameter.

[2012-01-09 20:22] lwille opened #3 "CoffeeScript compatibility"
[code]

should work. Currently, only `coffee -c test.coffee && node test.js` is working

[2012-01-09 21:41] lwille opened #4 "Take a picture"
Capture and download a picture from the camera.

The first implementation capture the picture to memory and pass the Buffer containing the picture to the callback function.

A more elaborate implementation would stream the picture from the camera, if the driver should support it, and emit the data chunk by chunk through an EventEmitter.

[2012-01-09 21:43] lwille opened #5 "Auto-detect all connected cameras"
Return a list of connected cameras.

[2012-01-09 21:43] #5 closed, assigned to nobody

[2012-01-14 16:24] lwille opened #6 "Live preview"

[2012-01-18 00:20] lwille opened #7 "GPhoto2 object gets garbage collected"
Despite of having a `v8::Persistent`reference in the GPCamera object, the GPhoto2 object gets garbage collected when the camera object is contained in a closure:

[code]

[2012-01-18 23:08] #6 closed, assigned to nobody

[2012-01-20 01:17] lwille opened #8 "Live preview not working in Safari"
When using Safari, only a single image is loaded. It seems to be a "feature" of Safari not to reload an image if the src attribute is changed. As creating new Image() is way to slow, you have to use Chrome.

[2012-01-20 03:09] lwille opened #9 "gp_camera_capture_preview fails when opening another browser window"
gp_camera_capture_preview returns -110, possibly related to loading settings during an active preview session

[2012-01-23 01:24] lwille opened #10 "update to uv_mutex_* in node >0.7.0"

[2012-01-23 15:44] #9 closed, assigned to nobody

[2012-01-23 15:47] #7 closed, assigned to nobody

[2012-01-23 15:48] #3 closed, assigned to nobody

[2012-01-23 15:48] #2 closed, assigned to nobody

[2012-01-23 16:17] #4 closed, assigned to lwille

[2012-01-23 16:18] lwille opened #11 "support capturing a picture without downloading"

[2012-01-23 18:16] lwille opened #12 "take a picture without downloading"
Save picture in the camera for later download, callback receives filename. Also a download method will be needed.

[2012-01-25 23:37] #12 closed, assigned to nobody

[2012-01-25 23:40] #11 closed, assigned to nobody

[2012-01-28 23:30] lwille opened #13 "Reset camera"

[2012-01-28 23:30] lwille opened #14 "Error handling"
Investigate: Preview stops "after a while" and libgphoto issues a -1 error.

Also implement #13 as default strategy if preview stops working.

[2012-02-08 12:48] lwille opened #15 "Command queue"
To work around the "Camera Busy" error (-110), a command queue will be implemented.
When an API command is called, it is pushed to the queue. If the queue was empty before, the command is executed immediately.

The next command will be triggered by a "Camera Ready" event.

[2012-04-13 05:03] ghost opened #16 "Trying to compile under linux/ubuntu"
I added #include "stdio.h" to helper.cc -- but now I'm in trouble

[code]

[2012-05-14 16:45] #15 closed, assigned to lwille

[2012-05-14 16:49] #13 closed, assigned to lwille

[2012-05-22 15:22] lwille opened #17 "foo"
---

wrong repo.

[2012-05-22 15:24] #17 closed, assigned to nobody

[2012-07-13 02:14] jschappet opened #18 "Build Issue on OSX Lion"
[code]

[2012-07-24 19:58] bphoto opened #19 "npm install build failure on ubuntu 12.04"
Hello lwille,

I am receiving the following errors when trying to sudo npm install gphoto2:

../src/preview.cc:11:13: error: use of undeclared identifier 'stdout'
  fprintf  (stdout, "\n");

Build failed:
 -> task failed (err #1):
        {task: cxx preview.cc -> preview_1.o}
 -> task failed (err #1):
        {task: cxx camera_helpers.cc -> camera_helpers_2.o}

make: **\* [all] Error 1
npm ERR! gp

[2012-08-04 17:21] #14 closed, assigned to lwille

[2012-08-21 10:20] saldeep opened #20 "Runtime error"
Hey,

Though I was facing compilation issues while installing the module, I somehow managed to install the module. Now when I execute a test script it gives me an assertion failure:

node: /usr/local/include/node/node_object_wrap.h:62: void node::ObjectWrap::Wrap(v8::Handlev8::Object): Assertion `handle->InternalFieldCount() > 0' failed.
Aborted

Can you help me solve this?

node -v 0.6.11
npm -v

[2012-10-01 20:48] neubi4 opened #21 "ubuntu 12.04 compile errors"
Hello lwille,

i get this errors trying to compile on ubuntu 12.04

[code]

Can you help me?

[2012-11-18 16:19] #19 closed, assigned to nobody

[2012-11-18 16:20] #16 closed, assigned to nobody

[2012-12-06 13:28] ghost opened #22 "any chance building it on raspberry pi?"
i have node 0.8.15 and node-gyp installed and I changed the target_arch to arm but still fails

[code]

[2012-12-08 18:44] #22 closed, assigned to nobody

[2012-12-08 18:45] #21 closed, assigned to nobody

[2012-12-08 18:46] #20 closed, assigned to nobody

[2012-12-10 18:42] #18 closed, assigned to nobody

[2013-01-03 16:55] joeframbach opened #25 "Update npm with v0.1.2"
v0.1.1 is listed as most recent in npm. I'm having some trouble with libgphoto2.4 and libgphoto2.5 both built on this system in /usr and /usr/local, I think I screwed up somewhere. I think starting fresh with v0.1.2 in npm would be helpful.

[2013-01-04 21:02] chuckfletcherIV opened #26 "Can't install via npm - Output included. I tried using both node 6.14 and 6.18"
Any ideas?

Just doing a npm install gphoto2

I believe I have all of the deps.

npm http GET https://registry.npmjs.org/gphoto2
npm http 304 https://registry.npmjs.org/gphoto2

[2013-03-17 19:46] mejedi opened #27 "Assertion failed (InternalFieldCount)"
Hi!

Node dies on assertion if I run the following code:

new require('gphoto2').GPhoto2();

Node error:

Assertion failed: (handle->InternalFieldCount() > 0), function Wrap, file ../src/node_object_wrap.h, line 71.
Abort trap: 6

[2013-04-06 11:33] xseignard opened #28 "Installing gphoto2 on ubuntu 12.04"
Hello,
I'm trying to install gphoto2 on my ubuntu 12.04 machine, with no luck.

I have node 0.10.3, npm 1.2.17, clang 3.0, and libgphoto2 2.4.13.

I tried to run a `npm install gphoto2`, tried with sudo, tried to install it globally `sudo npm install gphoto2 -g` and it always fails like this

[code]

You say that the prerequisites are libgphoto2 2.5.0, is it the source of the problem I have? Or is

[2013-04-06 15:10] xseignard opened #29 "Corrupted image file"
Hello, I installed this lib on my raspberry pi with :
- node : 0.8.22
- libgphoto2-2 and libgphoto2-2-dev : 2.4.14

And tried to take a shot with my eos 550d as presented in the exemple.

[code]

But the `picture.jpg` is always corrupted when I try to open it. With the following error: `Not a JPEG file: starts with 0x00 0x00`

Any idea?

Regards,

Xavier

[2013-04-10 14:40] xseignard opened #31 "Pre install script doesn't seem to work on raspberry pi"
Hello, i tried to install your package with no luck.
Here is the output:

[code]

I defined the dependency like this (to get your latest commit):

[code]

With node 0.10.2 on a raspbian and here is the output of `dpkg -s libgphoto2-2-dev`

[code]

I never succeeded to get your package working, either on ubuntu 12.04 or raspberry pi.

Any idea?

Regards,

Xavier

[2013-04-12 11:22] #31 closed, assigned to nobody

[2013-04-20 13:33] 80leaves opened #33 "node: symbol lookup error: _ZNK4cvv810NativeToJSIfEclIfEEN2v86HandleINS3_5ValueEEERKT_"
Hi,

I'm running into following error trying to access the config.

The camera is detected and can be triggered to take Pictures, however trying to get the list of configurations like

[code]

I get following message:

[code]

I tried it witha a Nikon D700 on a raspberry pi with

[code]

and libgphoto 2.5.0

[code]

and on ubuntu 12.10 x64, same versions, same error message

In addition, trying to

[2013-04-20 15:37] #10 closed, assigned to nobody

[2013-04-20 15:38] #26 closed, assigned to nobody

[2013-04-20 15:38] #28 closed, assigned to nobody

[2013-04-20 15:39] #27 closed, assigned to nobody

[2013-04-20 15:45] #8 closed, assigned to nobody

[2013-05-02 19:33] michaelkoetter opened #35 "Test failures on Raspberry Pi / D700"
The Pi is running current Raspbian, node.js 0.10.5 and libgphoto 2.5.1.1:

[code]

The camera is a Nikon D700.

Here's the mocha test log:

[code]

It only reports up to test case 6 of 9, after that it terminates with a segfault:

[code]

[2013-05-02 20:05] michaelkoetter opened #36 "Test failures on Ubuntu 13.04 x64 / D700"
Same versions of node.js and GPhoto as in #35, but running on Ubuntu 13.04 x64.
At least it doesn't segfault ;)

[code]

[2013-05-02 22:26] #33 closed, assigned to nobody

[2013-05-02 22:31] #25 closed, assigned to nobody

[2013-05-11 00:53] #35 closed, assigned to nobody

[2013-06-10 14:21] 80leaves opened #38 "Test failures with RaspberryPi and Nikon D700"
Hey,

I grabbed a fresh copy of whezzy and performed a test run with following errors:

gphoto2:

[code]

nodejs:

[code]

I pasted it at pastebin to be easier to read:
http://pastebin.mozilla.org/2507055

[2013-09-07 18:21] chesnel opened #42 "error: invalid conversion from ‘void (*)(GPContext*, ...."
I discovered your great module, but unfortunately I do not even install it with npm ... I get this error: (I try with different version of node.. but always same issue) And ma version of gphoto2 and libgphoto2 it's 2.4.14

[code]

I really hope you can help me... I can't wait to play with ! Thanks...

[2013-11-02 18:40] 80leaves opened #43 "Can't take more than one picture"
Hey,

I figured out that you have to reset the usb port before you can take a second picture. Am I the only one having this issue?

[2013-11-10 14:39] 80leaves opened #44 "Taking pictures uses up memory"
Hi,
I discovered that each time a picture is taken, memory about the size of an image is taken up and not freed at all, which ultimately results in a
`child_process.js:24404: Uncaught Error: spawn ENOMEM`

I'm using following code-snippet to take a picture:

[code]

The function `resetUSB(...)` is reseting the usb port as a workaround to issue https://github.com/lwille/node-gphoto2/issues/43

I'm

[2013-11-25 10:42] jacobsologub opened #45 "Live Preview"
I'm having trouble getting a live preview from a connected camera.

[code]

I'm not getting an error so that's a good sign. The camera object is valid, I can take pictures and get configs.

Not sure how to check if my camera (Canon Rebel T3i) has support for live preview, I'm pretty sure that it does.

[2013-12-03 04:47] #45 closed, assigned to nobody

[2013-12-10 15:08] marcbachmann opened #46 "update the package on NPM"
Currently only version 0.1.3 is hosted on NPM.

[2013-12-17 00:56] #29 closed, assigned to nobody

[2013-12-17 01:00] #46 closed, assigned to nobody

[2013-12-17 01:01] #38 closed, assigned to nobody

[2013-12-17 01:01] #42 closed, assigned to nobody

[2013-12-17 01:03] #44 closed, assigned to nobody

[2014-01-02 15:49] Okkervile opened #48 "takePicture preview with Nikon D7000"
takePicture with parameter preview:true fails silently with Nikon D7000.
takePicture with parameter downloading true is working fine.

Any known issues with Nikon?

[2014-01-12 16:37] 80leaves opened #49 "'make' failed with exit code 2"
Hi,

I'm trying to get node-gphoto2 running again on my raspberry pi, so I got a fresh copy of raspbian and used node 0.10.22 but I'm getting following error message:

[code]

[2014-01-12 17:49] #49 closed, assigned to nobody

[2014-01-25 08:54] lpinca opened #53 "Open source licensing"
Make source code available under a proper open-source license.

[2014-02-03 17:08] sroucheray opened #54 "Segmentation fault on taking picture on Raspberry PI"
I'm on a Raspeberry PI and try to connect to a Canon EOS 6D. I can get the list of connected camera but cannot take a picture or get the configuration of them.

I have a simple script :

[code]

When I launch as any other node script I get this (with a Segment fault) :

[code]

When I launched it with root privileges I get this (without Segment fault) :

[code]

Either way the config callback is n

[2014-03-21 13:03] #53 closed, assigned to nobody

[2014-03-22 14:25] #43 closed, assigned to nobody

[2014-03-22 14:26] #54 closed, assigned to nobody

[2014-05-25 05:28] plkumar opened #57 "npm install fails on MAC 10.9.3"
npm install fails on MAC 10.9.3 see the log below, it says 'gphoto2/gphoto2-camera.h' not found while it is there in the right path.

Appreciate some help here.

/opt/local/bin/pkg-config
/usr/local/bin/brew
/usr/local/Cellar/libgphoto2/2.5.1/bin/gphoto2-port-config
/usr/local/Cellar/libgphoto2/2.5.1/bin/gphoto2-config
/usr/local/Cellar/libgphoto2/2.5.1/include/gphoto2/ (18 files)
/usr/local/Cella

[2014-05-27 16:09] #57 closed, assigned to nobody

[2014-06-16 14:27] maikschneider opened #58 "npm install fails on raspbian"
On my RaspberryPi the install process crashes at the cpplint command.
The installation:
[code]

The error:

[code]

I also have a question about running the tests: Why is the coffee file not compiled? The coffee-script package is installed globally and locally..
My output:

[code]

Thanks!

[2014-09-16 17:51] rformato opened #61 "takePicture a file descriptor opened causing "too many files opened" error"
It seems like each time takePicture is called, a new file descriptor is created and never closed, bringing to an error in the long run when no more file descriptor can be created.

You can just loop a takePicture call and launch this shell command
`lsof | grep node`

to see how many opened files you have

Can you confirm it's a file descriptor leak?

[2014-10-31 18:43] jaredmdobson opened #63 "Build Question."
@lwille this project looks awesome and will definitely be a life saver!!!  Thank you!!

I have run into this problem when trying to build or install this node package.

[code]

I am learning about node-gyp and have found a simple solution(hack) to get this project to build by replacing:

[code]

with:

[code]

So I am wondering what can I do to improve this project and get the build to work withou

[2014-11-05 14:57] #63 closed, assigned to nobody

[2015-01-19 17:16] lwille commented on #61
Should be fixed in 0.1.7 (ba9a9b9)

[2015-01-19 17:16] #61 closed

[2015-01-19 17:16] lwille commented on #58
Should be fixed in 0.1.7 (ba9a9b9).

[2015-01-19 17:16] #58 closed

[2015-01-24 14:31] lwille commented on #36
Closed for lack of further information.

[2015-01-24 14:31] #36 closed

[2015-01-24 14:33] lwille commented on #48
Any news? What about the `gp_camera_exit` feature?

[2015-01-24 14:44] lpinca commented on #48
@lwille no news on my side, I didn't try anymore.

[2015-01-31 01:27] gabrielstuff opened #64 "How to use live preview from example"
Hi !

Very nice work.
I've been trying to run the examples, but I'm not able to see the live preview :
`http://localhost:1337/preview` returns nothing on Chrome and bad image on firefox (the image can not be displayed because it contains error)

What is the process to look at the liveview in the browser ?

Thanks

[2015-02-02 18:28] emmanuelgeoffray commented on #64
Same here :)
npm test says it's fine with livestream and I can get it with gphoto.

@lpinca is there anything to activate for the livestream? Is it working on your side?

Best,
e

[2015-02-02 20:06] lpinca commented on #64
I don't know, it has been a long time since I used this module and I think I never looked at the examples. You could get some hints reading issue #48.
Try with this:
[code]
It is the same API used here https://github.com/lwille/node-gphoto2/blob/master/examples/server.coffee#L102 with the difference that the live view is not returned in a buffer but in a temp file.

[2015-02-03 08:31] emmanuelgeoffray commented on #64
Thanks @lpinca ! I'm going to try this.
I'll let you know
best
e

[2015-02-03 13:47] gabrielstuff commented on #48
Hello there, @Iwille I've been a bit forward and now I got the image correctly draw in the canvas. @lpinca  was right the buffer was always empty because of two things.
First, buffer is only returned if downloaded, see there:  https://github.com/lwille/node-gphoto2/blob/master/src/camera.cc#L121
`} else if (capture_req->data && capture_req->download) {`

And secondly, the `capturePreview` does not

[2015-02-03 14:40] lpinca commented on #48
@gabrielstuff it's up to the client to refresh the image by repeatedly calling `capturePreview.
As you can see here https://github.com/lwille/node-gphoto2/blob/master/examples/public/index.html#L19-L24 a new request is done every time the image is loaded.

If you are running that code and you get a still image then yes, something is wrong.

[2015-02-03 14:46] gabrielstuff commented on #48
Yup ! I've seen that, but image won't refresh, until I use setInterval and call the function repeatidly... which is slow slow slow :)
If I click several time it update but second after seconds

[2015-02-03 14:53] lpinca commented on #48
I don't know it could be your camera.
Is is fast enough if you use `gphoto2` directly?

[2015-02-03 15:05] lwille commented on #48
@gabrielstuff did you try streaming the data? Should work much quicker than using a buffer.

https://github.com/lwille/node-gphoto2/blob/master/test/camera.test.coffee#L119

[2015-02-03 15:05] gabrielstuff commented on #48
Yes, 20fps using our test software : pyying --> https://github.com/soixantecircuits/pyying

[2015-02-03 15:13] gabrielstuff commented on #48
@lwille do you mean by streaming the buffer using pipe ? As you can see the examples won't work without the modification I just had based on the remark from @lpinca. I'm note sure to see what you mean by stream.
Currently we have two options :

- fetching a buffer
- fetching a file with new filename every xx second

Thanks !

[2015-02-04 08:46] lwille commented on #48
Streaming using a socket, just as in the example I linked in my previous reply.
It may look like a hack, but actually worked pretty nice - passing huge buffers from the C++ module to node seemed to have more overhead than just streaming via a socket.

Sadly, I can't help about problems with different cameras etc, as I'm not actively maintaining this module any more - the Canon EOS 550D that I used

[2015-02-10 13:28] Sija opened #65 "Compilation fails on node.js v0.12"
There's hefty stack of compilation errors on `v0.12`.
Do you plan to support this version?
In terms of maintaining cross-version compatibility [rvagg/nan](https://github.com/rvagg/nan) might be worth looking at.

[2015-02-11 16:16] lwille commented on #65
Thanks for testing!I think that's a call for a complete rewrite. Is anyone up to help with that?

On Tue, Feb 10, 2015 at 2:28 PM, Sijawusz Pur Rahnama
<notifications@github.com> wrote:

[2015-02-17 04:47] kjantzer commented on #65
Errors too.
[code]

You can see that the file it could not find appears to be there:
![screen shot 2015-02-16 at 8 46 06 pm](https://cloud.githubusercontent.com/assets/467487/6223395/e4676c16-b61c-11e4-85f8-4a0fb7332812.png)

[2015-02-17 12:05] lwille commented on #65
@kjantzer this is rather a library path issue with homebrewed libraries.

[2015-02-17 16:29] kjantzer commented on #65
Hmmm. Ok, I'll have to see what I can figure out. Thanks

[2015-02-19 16:35] jatpatel1 commented on #64
@emmanuelgeoffray Did you get anywhere with this? I'm trying to do the same thing.
Thanks

[2015-02-19 17:11] jatpatel1 commented on #48
Hi guys,
I was wondering if someone can help me get this running.
I'm pretty new to node.js (I come from a php, js and jquery background).
I'm basically trying to do what @gabrielstuff is doing(with my Nikon D90).

I got all the modules installed but don't know how to start the server etc...

I did create a new js file and called `camera.takePicture()` which basically created one image and then th

[2015-02-23 18:10] emmanuelgeoffray commented on #64
hey @jatpatel1 I did succeed to get a preview video stream, but ith a different method.
I repeatly write a preview file to disk, and use mjpg_streamer to process htis as a video stream.
Check this folder: https://github.com/soixantecircuits/zhaoxiangjs

[2015-02-24 09:11] jatpatel1 commented on #64
@emmanuelgeoffray thanks for getting back to me.
I thought that was the only way to do it. Previously I did the same thing in python but as I'm a web developer I thought it would be easier if I wrote it with a web language(php or js).
I just had a quick look at mjpg_streamer and it looks promising.

Can I ask what your logic was to repeatedly write a preview file to disk? Did you have to think abo

[2015-03-03 15:30] lwille commented on #64
I can only recommend to use sockets for preview:

[code]

[2015-03-03 15:44] lwille commented on #65
Started porting it to [rvagg/nan](https://github.com/rvagg/nan); I'll publish a branch once the wheather in Berlin gets bad again :sun_with_face:

[2015-03-04 13:10] jatpatel1 commented on #64
Thanks @lwille.
I'm a newbie to this so will have to read up on sockets.
I'll try it out and let you know how I get on.

[2015-03-04 13:21] lwille commented on #64
Cool 😊 meanwhile, I'll think about an easier to use way of getting a preview stream directly out of gphoto. Involving sockets or the file system always comes with a performance impact.

Maybe it's possible to do a live transcoding from MPEG to some streaming Codec, but I'm not an expert on that topic 😊

[2015-03-04 13:38] jatpatel1 commented on #64
Awesome! thanks for the response.
Ideally I would like to use the gphoto2 `--capture-preview` command and take a preview for `x` number of seconds(using a `for` or `while` loop or something).
Also I've noticed that the gphoto capture preview is limited to certain pixels opposed to capture image.

I guess it's going to be a trail and error thing.... :dizzy_face:

[2015-03-05 13:29] kanzelm3 commented on #64
Hey @lwille is there any way you can share the url to where you found your example? I am having a hard time understanding how to do it, as there is some stuff missing from the server side. I'm sorry, I am just having a hard time figuring out a good solution for this!

[2015-03-06 10:38] lwille commented on #64
@kanzelm3, It's ripped from a private project of my former employer. I can't disclose it.

I think the Preview functionality would be a good example on general usage, so I'll try to grab a camera and hack a small webapp (which would be published separately).

[2015-03-06 10:42] lwille opened #66 "libgphoto2 2.5.7"
http://www.gphoto.org/news/

[2015-03-06 10:47] lwille opened #67 "Porting to NAN"
The module needs porting to NAN in order to assure compability with previous and future versions of Node and V8.

Development is done in [feature/nan](https://github.com/lwille/node-gphoto2/tree/feature/nan).

related issues: #65

Tasks so far:
- [X] Replace bindings with NAN macros
- [x] Reimplement camera settings (were removed through removal of cvv8)
- [ ] Refactor async functions to use NanAs

[2015-03-06 10:48] gabrielstuff commented on #64
We hack something involving mjpeg streamer. I do not see in the example where the stream got update. on gphoto side preview just capture an image from the preview feed. Meanwhile you need to update manualy, nah ? Or does gphoto handle it internally and the socket got update with the new content and thus directly streamed to the front ?

thanks

[2015-03-06 10:56] lwille commented on #64
Unfortunately, we have to fetch individual preview images from libgphoto. So what I did so far is not about a real "stream" in the MJPEG sense, but rather about streaming individual bytes of each preview picture instead of sending them en block. Streaming saves a lot of time here, as data is being sent as it becomes available on USB.
I think MJPEG streaming should be implemented on the C++ side fo

[2015-03-06 20:31] kanzelm3 commented on #64
@lwille awesome man, I would really appreciate that, I'm working on a photo booth app where it would be nice if I could use the DSLR as the live view instead of using an additional webcam that can be accessed via navigator.getUserMedia

[2015-03-14 18:49] mbwe opened #68 "gphoto2 --capture-tethered with node-gphoto2"
I am trying to use the package node-gphoto2 for shooting with my camera in tethered mode. With gphoto2 i could just connect my camera and start gphoto like **gphoto2 --capture-tethered**. Which according to the gphoto docs does the following:

**Lets gphoto2 wait for notifications from the camera that an object was added. This is useful for tethered capture, where pressing the shutter on the camer

[2015-03-14 19:12] lwille commented on #68
Asynchronous camera events are currently not implemented.

[2015-03-14 19:43] mbwe commented on #68
Ah, oke thanks Iwille. Wel consider this as a feature request.

[2015-03-14 20:34] lwille commented on #68
You're welcome.

[2015-03-16 19:00] lwille opened #69 "Preview stream"
Streaming of preview pictures, possibly in MJPEG format
related: #64
- [ ] Find out how to properly stream data from C++ to Node
- [ ] Run a timed loop in the C++ part to fetch preview pictures
- [ ] Provide single JPEGs as well as continuous MJPEG stream

[2015-03-27 11:30] lukasMega commented on #58
Error:
[code]

Complete error message is quite long. See: http://pastebin.com/raw.php?i=xzmknwn0

 
 

My environment (Raspberry Pi 2):

[code]

[2015-03-27 11:35] lpinca commented on #58
@lukasMega the module does not work with node 0.12 / io.js.
@lwille is working to fix this, see #67.

[2015-03-27 11:40] lukasMega commented on #58
thanks for quick reply. Do you plan to support io.js? or node.js >= 0.12 ?

[2015-03-27 11:45] lpinca commented on #58
I don't know but I think that the current plan is to use https://github.com/rvagg/nan so It should compile fine with older, current, and future versions of node / io.js.

[2015-04-06 06:27] mnhan32 opened #70 "List available options and setting it up for iso, aperture and shutterspeed?"
hey, I was trying to use node-gphoto2 to control my Canon EOS 450D.
I try the example and everything seems to works pretty well, however, I could not find a way to list all available ISO options for my camera, and set my camera to a different ISO from available options.

Can somebody show me an example how to do it?

Tks.

[2015-04-15 21:29] dubcanada commented on #67
Is `feature/nan` working? Minus the refactors.

[2015-04-16 08:27] lwille commented on #67
No, it's not - I didn't even test it yet 😊

On Wed, Apr 15, 2015 at 11:29 PM, dubcanada <notifications@github.com>
wrote:

[2015-04-16 12:49] dubcanada commented on #67
I am in need of this for a project I am working on. I am debating helping you with the NAN stuff or using node-ffi.

Was there any reason you choose to create C node bindings, rather then using FFI?

[2015-04-22 11:43] jnordberg opened #71 "Human readable error messages"
It would be nice to have actual error objects in the callbacks, and with the error codes resolved.

[code]

[2015-04-22 11:44] jnordberg opened #72 "Socket hardcoded?"
If i try to use any other socket filename than `/tmp/preview.sock` i get an error message in console complaining that the socket does not exist and the capture fails with error code -34

[2015-04-22 12:54] lwille commented on #72
Yup - it's in `src/camera_helpers.cc`. Feel free to submit a pull request to make it configurable :)

[2015-04-22 12:54] lwille commented on #71
Good idea :)

[2015-05-05 13:44] lwille commented on #67
As libgphoto2 requires some sort of threading, FFI wasn't an option when I started development. Also, I didn't find a way to easily handle structs (now possible with `ref-struct`).

I just read that node-ffi meanwhile supports async calls and will definitely reconsider it,
especially because it will reduce most of the compilation hassle and ease up development :)

Have you already done some async

[2015-05-05 19:23] dubcanada commented on #67
I'm going to spend a while over the next two days trying to get a proof of concept working with FFI. I only need open camera, and take photo, and then download photo working for my project so I'll show you that when I get done/working/not working lol

[2015-05-10 14:47] Xifit opened #75 "bulb"
Hi,
Hello, can you help me, I can not take a picture in bulb.
thank

[2015-05-10 14:53] lwille commented on #75
Please include more information:

- what exactly are you trying to do?

- what does your setup look like (operating system, library versions, used camera)

On Sun, May 10, 2015 at 4:47 PM, Xifit <notifications@github.com> wrote:

[2015-05-10 15:11] Xifit commented on #75
Hi,

I search launching bulb capture, shutterspeed > 30s.
I've command with gphoto2, i search method with your script.

gphoto2         2.5.6          gcc, popt(m), exif, no cdk, no aa, jpeg, no readline
libgphoto2      2.5.7          all camlibs, gcc, ltdl, EXIF
libgphoto2_port 0.12.0         gcc, ltdl, USB, serial without locking

Ubuntu 14.04.2 LTS

script :
var gphoto2 = require('gphoto2');
va

[2015-05-14 18:34] dubcanada commented on #67
Didn't have a lot of luck with the whole node-ffi. A ton of really weird complicated pointers and things in libgpphoto2.

I'll start playing around with your nan version and try to get that to work. I think that's probably a better solution anyways.

[2015-05-14 18:41] lwille commented on #67
Thanks for trying it :)
You'll notice that since removing cvv8, there's no way to retrieve the camera settings. I'd appreciate help on that feature :)

(Just added that to the task list, so we won't forget)

[2015-05-14 18:48] lwille commented on #75
Hi! I never tried that, but the documentation suggests to wait after activating the "bulb" config to 1.
So I'd try the following:
* set "shutterspeed" to "bulb"
* set "bulb" to 1
* wait using setTimeout() to make your exposure
* set "bulb" to 0 to finish the capture
* download the picture.

Good luck :)

[2015-05-14 18:53] lwille commented on #72
Merged #73.

[2015-05-14 18:53] #72 closed

[2015-05-14 18:55] lwille commented on #70
Did you use `camera.getConfig()`? It should return everything it has ...

[2015-05-14 18:56] #65 closed

[2015-05-14 18:57] #64 closed

[2015-05-20 18:23] Xifit commented on #75
Hi,
yes is good solution.

But I programming a C program for a remote control.

[2015-05-22 09:44] roowilliams opened #76 "Lots of errors"
Hello,

I've managed with some success to communicate with camera's using this lib I can load settings and write settings, but I am now trying to move on to getting an image preview. I've tried to reference the example but I cannot get it to run.

Here's my install process:
- Installed libgphoto2 via brew
- installed coffee-script

`npm install ghoto2`

Get this error:

`cd node_modules/gphoto2`
`

[2015-05-26 08:45] roowilliams commented on #76
Still not able to run the example but I have managed to build a node app that allows me to adjust camera settings, take and download photos to the file system. I'm going to attempt live preview today.

[2015-05-26 08:52] lwille commented on #76
Just try `npm install superagent`. I think I removed it from the package.json for some reason, and the example code is not well-maintained :D

[2015-05-26 16:07] roowilliams commented on #57
Just tried to clone my app on a 10.10 Mac with freshly installed node and have the same problem.

[2015-05-26 16:40] roowilliams commented on #57
I used [nvm](https://github.com/creationix/nvm)  to install and use node 0.10.0 and installed properly.

[2015-05-27 22:20] chameleooo commented on #57
I had the same problem and the symlink seems to fix it.
Thank you !

You can also install node 0.10 via brew if you don't want to install nvm:
http://www.wiredatom.com/blog/2015/03/30/downgrade-node-js-to-a-specific-version-using-homebrew/

[2015-07-03 09:18] chameleooo commented on #67
Hi lwille

Do you have any news on this subject ? I really like your lib but working with node 0.10 is really annoying.
I will see if I can help but my c++ is very rusty.

[2015-07-03 16:06] dubcanada commented on #67
It largely works with node 0.10+ already with the nan version just a few
things missing.

On Fri, 3 Jul 2015 6:18 am Nataku <notifications@github.com> wrote:

[2015-07-05 23:40] jmsaavedra commented on #57
+1 also had this issue when using Node installed via nvm.

Symlink hack fixed it (although is very hacky and not ideal...):

[code]
thank you @ncrohn !

[2015-07-08 20:35] DiSanzes opened #77 "SyntaxError: Unexpected token ILLEGAL"
Hello,

I'm just trying to let node-gphoto2 run on my Intel Edison, but it's keeping to fail the test.

I get this Error:

/home/root/gphoto2-2.5.8/gphoto2/gphoto2:1
(function (exports, require, module, __filename, __dirname) {ELF
                                                              ^
SyntaxError: Unexpected token ILLEGAL
  at Module._compile (module.js:439:25)
  at Object.Module._extensi

[2015-09-05 17:40] sescandell commented on #67
Hi there,

First of all, many thanks for this work. What you've made is so cool!

Just wondering what's the status about Node 0.10+ support?

Any idea when it will be available?

Many thanks,

[2015-09-11 11:46] Nic2012 opened #78 ""Could not claim the USB device""
Hi,
at first many thanks for y great work and offering this bindings to the community.

I would like to implement the node bindings inside a node (http-) server app that is permanently running, but it seems that the gphoto objects locks exclusively the usb port as long my app is running. If I want access gphoto2 cli from command line simultanously i get the above message.
Sometimes y want to disco

[2015-10-10 15:51] nickpolet opened #79 "Module did not self-register"
I am trying to use gphoto2 within a small electron application. I have installed all the dependencies and then gphoto2. NPM installs everything fine and the build process seems to work just fine.

When I try and require the gphoto2 lib, with

[code]

I get the following error when trying to run the electron app.

[code]

I have tried "npm rebuild" and completely removing the node_modules folder an

[2015-12-20 04:19] elijahparker commented on #67
I just saw this thread now -- I've been working porting my fork to nan the last couple weeks (didn't get very far yet). Where is this at now? I'd love to help out if I can. Thanks!

[2015-12-22 12:33] moimael opened #80 "Cannot install on rpm based system"
Hi,

I tried to install gphoto2 using npm under fedora 23 but failed. It seems that this line is faulty :

[code]

for me pkg-config libgphoto2 doest not return anything, despite being installed (in normal and devel version). Maybe you should add some rpm command in this ?

Thanks !

[2016-01-24 21:05] auterium opened #81 "Memory leak"
First of all, thanks for this awesome library, it's been very helpful to me.

I need to be able to listen for disconnection/reconnection of the camera. To do so, I execute multiple times the list() method. After many tests, I found out that calling this method ads ~5MB of ram usage that never gets cleaned up. Here's some code to test the leakage:

[code]

Thanks

[2016-04-27 13:58] geloescht commented on #67
Any news on this? Right now I am trying to use the gphoto2 cli with child_process. It works well, but I guess a proper node module could be more fool-proof.

[2016-05-09 10:41] aceol opened #82 "gphoto2.node invalid ELF header"
Hello,
 I had troubles installing gphoto2 module on my raspberry/rasbian distrib. I had to install it via sudo or it was failing with no explicit message.
Now it is installed via
`sudo npm install --save gphoto2`

`"gphoto2": "^0.1.7"`

[code]

when I run my app with gphoto2 loaded
`var gphoto2 = require("gphoto2");`

[code]

Is there anything wrong with my installation?
Thanks a lot for any help,

[2016-05-09 11:02] Sija commented on #82
Maybe `[sudo] npm rebuild gphoto2` will do (see [documentation](https://docs.npmjs.com/cli/rebuild))...?

[2016-05-09 12:40] aceol commented on #82
Thanks Sija, unfortunately, it does'nt fix the issue.

[2016-05-09 13:57] lwille commented on #82
This module is very outdated and doesn't compile against recent node
versions.
If you want to use it, you're bound to node ~0.10.0

--
Leonhardt Wille

Am 9. Mai 2016 um 14:40:47, Antoine Ceol (notifications@github.com) schrieb:

[2016-05-09 14:37] aceol commented on #82
I was afraid so Leonhardt.
Do you know of any related node projects?
Anyway, thanks for your anwser and for the great work so far.

[2016-05-09 20:42] lwille commented on #82
There might be wrappers around the gphoto2 CLI that could fulfill what
you're trying to achieve.
You could as well look into libs for other languages like python.

Good luck with your project!

--
Leonhardt Wille

Am 9. Mai 2016 um 16:37:02, Antoine Ceol (notifications@github.com) schrieb:

[2016-05-29 14:44] javsmo opened #83 "Mac OS X issues during install"
I just installed node-gphoto2 on a Raspberry Pi without any problem and it works fine. I'd like to install it on my Mac  (OS X 10.11.5) to develop something locally before putting on the Raspberry Pi, but I'm facing a lot of problems.

I installed everything using Homebrew and I think I have all dependencies installed.

[code]

At first the install was failing to find the libgphoto2 and I used a w

[2016-05-29 16:25] Sija commented on #83
Last working version of node is `0.10.x` — `nvm install 0.10`

[2016-05-29 21:31] javsmo commented on #83
Thanks for this information. I wasn't aware of this version limitation. In the Raspberry Pi, I don't know why, but the installed version is 0.10.29. That's why it worked there.

Now I was able to install on my mac, but the example from the readme gives a malloc error right after printing the camera model `console.log('Found', camera.model);`:

Found Canon EOS 1200D
node(35426,0x7000003b9000) mallo

[2016-06-04 07:41] javsmo commented on #83
After removing all other node and npm versions, and reinstalling the 0.10 directly from homebrew, I was able to make the example work.

Here's what finally worked.
[code]

[2016-06-04 07:41] #83 closed

[2016-07-05 21:49] apsylone opened #84 "Problem with "npm install gphoto2" - Mac OS X 10.12"
Hi,

I met a problem when trying to install via NPM on Mac OS X 10.12 beta 2 (Sierra).

~ node --version
v6.2.1

~ npm --version
3.9.3

~ brew info libgphoto2
libgphoto2: stable 2.5.10, HEAD

~  npm install gphoto2
Results : https://gist.github.com/apsylone/9ef4aebd9f173b515749150c4473225b

~ cat npm-debug.log
Results : https://gist.github.com/apsylone/739a3f26293b8ec13fa60744239b6f99

[2016-07-05 21:57] Sija commented on #84
See #83

[2016-07-05 22:27] apsylone commented on #84
You're right. It solves part of my issue. Haven't seen it because it was closed.
Sorry and thanks for your message. 👍

[2016-07-05 22:27] #84 closed

[2016-08-29 15:43] gabrielstuff commented on #57
Thanks ! Indeed, with El capitan, you might want to run :

`sudo ln -s /usr/local /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/local`

[2016-08-30 21:54] goudarziha opened #85 "Continuous lock-up issue"
I can only change the config settings for a Cannon T5i only a few number of times before I get the -110 ( camera lockup code) Where it would require me to start the camera in order to change any other settings. I am currently changing one setting at a time, but is there any other more efficient way to escape this error from having to restart the camera over and over again?

Thanks.

[2016-10-21 17:40] philipptrenz opened #86 "libgphoto2-2-dev not installed - Got renamed on debian?"
Hey,

I'm working on Ubuntu and installed libgphoto2 via `apt-get install gphoto2-dev`. Installing your module via npm fails saying `(which dpkg && dpkg -s libgphoto2-2-dev) || (which brew && brew list libgphoto2) || (echo 'ERROR: libgphoto2 seems not to be installed.' 1>&2; exit 1))`.

It seems the repository got renamed and now is 'libgphoto2-dev', `dpkg -s libgphoto2-dev` says
`Package: libgpho

[2016-10-21 18:16] #86 closed, assigned to nobody

[2016-11-07 08:23] timmythetiny opened #87 "libgphoto2 correctly installed, failing on preinstall script"
Howdy howdy!

I have libgphoto2 and gphoto2 installed on my machine through brew.  I can use gphoto2 from the command line just fine, and I can use libgphoto2 in a C-language Xcode project as long as I set the correct compiler flags and header search paths, as generated using `pkg-config --cflags libgphoto2` and `pkg-config --libs libgphoto2`.  Likewise if I'm compiling with g++.  The Terminal out

[2016-11-12 11:35] createdbyconnor commented on #87
I am also having this issue.

[2016-11-23 18:50] floooat commented on #87
same here

[2016-12-06 09:43] truefalse10 commented on #57
For MacOSX10.12 you might run:
`sudo ln -s /usr/local /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.12.sdk/usr/local`

[2016-12-08 22:06] lyonlai opened #88 "Any plan to make this project able to be built against latest node?"
^^

[2016-12-08 22:18] Sija commented on #88
See #67

[2016-12-09 06:00] lyonlai commented on #67
Alright, here it is. I'll give it a try to make it compile again first.

[2016-12-15 10:58] PoignardAzur opened #89 "Working on a node-ffi API for gphoto2"
Hello.

I wanted to pop by and say that I'm currently working on a Node.js port of the gphoto2 library for my company, using the node-ffi module. Node-ffi is an automated API for porting C libraries into Node project; it only needs .so/.dll files and a list of prototypes and it's good to go!

My work so far (I've mostly been studying node-ffi): https://github.com/PoignardAzur/tests_gphoto2

Is thi

[2017-01-24 20:54] smuser90 commented on #89
Considering this module is recommended with Node v0.10 I'd say it's a little outdated ;)
I've been using it to prototype some work though and as long as you have a compatible version of V8 it works well.

How have you found using node-ffi with libgphoto so far? I hadn't heard of node-ffi before and I'm really intrigued by that approach!

[2017-02-03 15:42] PoignardAzur commented on #89
Well it has its qualities and its drawbacks.

Main quality is that you need very little code to port a large number of functions; main drawback is that it's C only, and it's based on C logic in general (so no objects, no RAII, no exceptions, etc, you have to add them yourself). Overall I'd say it's pretty good.

[2017-02-20 12:48] foxinsox opened #90 "Linking Error: Installation fails allthough libgphoto2 is installed correctly"
Hey everyone,
i tried to install node-gphoto2, but unfortunately it didn't work. It seems like i run into a linking problem with 'gphoto/gphoto2-camera.h' even though i properly installed (and used) gphoto2 and libgphoto2.
Is there any way to fix this? I'd appreciate any hints and help! :)
Please refer to the terminal log for further details and don't hesitate to come back if there's more informat

[2017-02-21 00:55] Sija commented on #90
Duplicate of #83, #84 and possible others.

[2017-02-28 21:03] mitnuh commented on #67
# #Sorry about the all-in-one PR. The main changes are:

- Updated to the current nan.

- Fixed the gphoto.on('log', callback) method - setLoglevel 2 & 3 were so verbose that some messages were being dropped by libuv coalescing events.

- getConfig is working again (not sure if the setting object has the exact same structure as before).

- Changed setConfig so it does some basic type conversion an

[2017-02-28 21:14] elijahparker commented on #67
@mitnuh: this looks great -- thanks so much!  This module has been holding back the node version in my project and I hadn't found the time to tackle this yet, so thank you very much for your work here!

[2017-03-03 15:42] sorenkrabbe commented on #67
Just wanted to echo the enthusiasm around @mitnuh's contribution. Can't wait to see the PR merged...

[2017-03-04 17:06] lwille commented on #67
merged #92 into `feature/nan`. Thank you all, especially @mitnuh, for your contributions and support!

I'd like to ask for some help with testing (still no camera :frowning_face:):

- [ ] Manual tests against current Node LTS with camera on OSX
- [ ] Manual tests against current Node LTS with camera on Linux

Please run the tests and use the files from the `examples`.
Testing against your own proj

[2017-03-08 12:03] IvanDhalluin commented on #67
It's working fine on OSX (node v7.7.1) with livepreview on my project :) (but the example seems to be broken)

[2017-03-09 17:27] LoganArnett commented on #69
Im assuming that this is just a dead feature? This would be very useful if implemented

[2017-03-10 22:20] lwille commented on #69
@LoganArnett totally. I was researching into MJPEG streaming back then, but never got it to work in a performant way.

[2017-03-10 22:20] #69 closed

[2017-03-10 22:20] lwille commented on #88
closed in favor of #67

[2017-03-10 22:20] #88 closed

[2017-03-11 20:59] mitnuh commented on #67
Thanks for testing it Ivan :) the latest pull request seems to get the example working again.

[2017-03-18 12:04] lwille commented on #67
@mitnuh thanks for merging, please make sure to reference this issue (#67) in your future merges ;-) I'll try to get hold of a camera to test on Linux so we can finally release.

[2017-05-12 18:42] naeluh commented on #67
I have a canon 500d that I am going to test this against in ubuntu 14.04 this weekend, I will let you ifi ti works.
thanks !

[2017-05-12 19:05] IvanDhalluin commented on #67
It's working perfectly on Ubuntu for me (tested with 2 Canon).

[2017-05-12 19:30] Sija commented on #67
Seems like it's GTG, yay! Big thanks to @mitnuh for making this happen, and of course to @lwille for keeping an eye and stewardship of this branch.

[2017-05-13 13:00] mitnuh commented on #67
Yay! I feel kinda like a guest here and it would be to rude to merge this without lwille's approval.

[2017-05-27 11:28] mitnuh commented on #67
Thanks again for testing again @IvanDhalluin! Did it work for you too @naeluh?

If there's anything to do please let me know :) It's a great project and I'd like to help out with bugfixing and maintenance in the future (with advice and guidance of @lwille and @Sija)

[2017-06-12 00:27] Sija commented on #67
@lwille ping

[2017-08-22 20:02] rhclayto commented on #67
Any news?

[2017-08-22 20:04] Sija commented on #67
@lwille need any help with the next releases? I could help you with maintenance if you like.

[2017-11-12 11:49] itamarsky commented on #87
same

[2017-11-12 11:51] itamarsky commented on #87
Same

[2017-11-24 20:51] darkbreed commented on #87
Same here:

`gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:258:23)
gyp ERR! stack     at emitTwo (events.js:126:13)
gyp ERR! stack     at ChildProcess.emit (events.js:214:7)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (internal/child_process.js:19

[2017-12-01 09:52] darkbreed commented on #87
This is happening for me on both Mac OS and Raspian.

[2017-12-01 10:21] Sija commented on #67
@lwille 🏓  There are people waiting for this update for almost 3 yrs now...

[2017-12-01 10:22] Sija commented on #87
Duplicate of many other similar issues, #83 for instance.

[2017-12-01 10:59] lwille commented on #67
@Sija please go ahead! I don't have the resources to actively work on this project.

[2017-12-08 16:21] Sija commented on #70
Closing due to inactivity.

[2017-12-08 16:21] #70 closed

[2017-12-08 16:23] Sija commented on #77
Closing due to the age of this issue, reopen if needed.

[2017-12-08 16:23] #77 closed

[2017-12-08 16:23] Sija commented on #80
Closing due to the age of the issue, reopen if needed.

[2017-12-08 16:23] #80 closed

[2017-12-08 16:25] Sija commented on #82
See #67, closing.

[2017-12-08 16:25] #82 closed

[2017-12-08 16:51] Sija commented on #90
There are other errors pointing at possible culprit.

[code]

Other than that, current version of the library works only with node.js v0.10.x.
See updates in #94.

[2017-12-08 16:51] #90 closed

[2017-12-08 16:52] Sija commented on #89
Closing since it's not really an issue.
Updates coming in #94.

[2017-12-08 16:52] #89 closed

[2017-12-08 16:56] Sija commented on #66
Outdated, closing...

[2017-12-08 16:56] #66 closed

[2017-12-08 16:59] Sija commented on #76
Issue seems resolved by manually installing `superagent`, for library updates see #94.

[2017-12-08 16:59] #76 closed

[2017-12-08 16:59] Sija commented on #79
Closing due to issue old age, for updates see #94.

[2017-12-08 16:59] #79 closed

[2018-01-05 00:46] robinparisi opened #95 "[question] Any plans for supporting a newer version of Node.js?"
Hi,

Do you plan to support a newer version of Node.js like 8.x or is the lib abandoned?

Thanks in advance.

[2018-01-05 00:47] Sija commented on #95
Yes, see #94.

[2018-02-14 12:17] #87 closed

[2018-02-14 12:19] Sija commented on #85
Does it work with command line `gphoto2`?

[2018-02-25 12:22] zsuperben commented on #68
hey guys i'd be willing to help with this. I could start next week, but how big of a project do you think this is ? is there a lot to do before i could implement the capture-tethered feature ?

[2018-02-25 17:32] Sija commented on #68
@zsuperben Before you start, be sure to branch off from `feature/nan` (#94), which is soon-to-be `master`.

[2018-03-03 11:36] #67 closed

[2018-03-03 12:38] Sija commented on #95
v0.2.0 with support for newer Node.js versions is just released, closing.

[2018-03-03 12:38] #95 closed

[2018-03-06 11:17] lwille commented on #85
After countless hours I didn't find a way out of the `-110` state.

Back in the days, my solution was to use USB-controllable power switch to power cycle the camera's AC adaptor.
Today I'd use a Raspberry Pi's GPIO pin to interrupt the 5V DC power of the camera, as I'd use a Pi Zero to control the camera.

Alternatively try to dump and load the settings with `gphoto2`.
If it doesn't expose this be

[2018-03-06 11:39] #81 closed

[2018-03-06 12:21] Sija commented on #81
@lwille Issue is still there, isn't it?

[2018-03-08 09:14] Sija commented on #81
@lwille nope, this fix was too naïve so I removed it after all.

[2018-03-14 22:15] joshbg2k opened #97 "Several Nan "'Call' is deprecated" Warnings on Install (Node v8.1)"
I get several Nan-related warnings when I install this in my Electron project. I seem to have all the main dependencies installed, but some functions aren't working. I've confirmed I'm using Nan 2.9.2. Warnings include:
[code]
[code]
I'm having issues calling getConfig and downloadPicture (possibly more) in an Electron project. Calling them causes the Electron project to lock up and no further err

[2018-03-30 19:11] philipptrenz opened #98 "How to keep images on camera?"
Hi @lwille,
thanks so much for your work! 👍

I'm currently migrating my [photo booth software](https://github.com/philipptrenz/photo-booth/) from executing the CLI interface to your library. Triggering the CLI and writing the images to the file system was the best way for me to go in 2016 😅
The only thing I couldn't find was a way to keep the images on the camera. I selected the `capturetarget` pr

[2018-03-30 19:49] philipptrenz commented on #98
Ah, found it in `camera_helpers.cc`, line 380. So it's a feature request.
I think the best way to go is to add `bool keep` to `take_picture_request` and check before deleting. Maybe you want to take a look? Otherwise I'll try, but I'm quite inexperienced with bindings to JavaScript.

[2018-04-01 12:14] #98 closed

[2018-04-01 19:34] lwille commented on #97
I suspect this might be a threading issue specific to the combination of electron + node-gphoto2.

Did you follow the instructions on [using native modules with electron](https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md)?

[2018-04-01 19:36] lwille commented on #85
I'm closing this due to lack of feedback and age of the issue.

[2018-04-01 19:36] #85 closed

[2018-04-01 19:39] lwille commented on #78
Please reopen if the problem persists.

[2018-04-01 19:39] #78 closed

[2018-04-01 19:41] lwille commented on #68
@zsuperben feel free to start off the current master; we successfully merged and released #94 a month ago.

[2018-04-07 19:38] joshbg2k commented on #97
Thanks, yeah that's exactly what the issue was. I solved shortly after I reported it and would have updated the issue, but I had forgotten about reporting it.

[2018-04-07 23:28] #97 closed

[2018-04-23 09:14] Clem- opened #101 "Close connection"
Hi,
I'd like to know how to close the connection to the camera to release it?
It seems that there is no method to do that.
Thanks

[2018-05-21 18:50] positlabs opened #102 "Include gphoto2 binary as dependency"
I've seen other libs that bundle binary dependencies in npm packages. This makes it much simpler to build distributable apps (e.g. electron)

https://www.npmjs.com/package/bin-wrapper

Once binwrapper is configured, you can call the bin like this:

[code]

This change would require removing this detection script, since installation would be handled internally:

It would still be nice to have the o

[2018-05-22 16:19] positlabs commented on #102
Ideally it would pull the bins from a list of precompiled packages (which include everything needed to run gphoto2). Now that I look, I'm not sure that's out there.

For example, ffmpeg has precompiled bins for various environments, https://ffmpeg.zeranoe.com/builds/

I did find this repo, but it's not ready for production: https://github.com/gphoto/gphoto-suite

[2018-05-22 16:27] Sija commented on #102
@positlabs this lib was build specifically to avoid using binary distribution and concentrate on native bindings instead, what's the point of having `gphoto` binary when you can use bindings? And if so, what's the problem of installing gphoto manually?

[2018-05-22 16:34] positlabs commented on #102
I have no issue installing ghoto manually, except it limits me to only using it on my own machines. If I want to distribute an app for other users, I can't expect them to go through that process.

[2018-05-22 16:42] Sija commented on #102
Well, IMO it's out of scope of this library either. It provides binding to `libgphoto2`, that's it sole purpose and responsibility.

[2018-05-22 17:04] positlabs commented on #102
Got it.

Do you have any advice about how I could package the binaries for distribution?

[2018-05-22 17:10] Sija commented on #102
@positlabs bundle them along with your project and use the appropriate during runtime ;) seriously though, I have no one-stop, have-it-all-done solution, sorry.

[2018-05-22 17:10] #102 closed

[2018-05-22 17:45] lwille commented on #102
... or distribute your app with an installer  that installs dependencies for all possible platforms.

Good idea though to pre-build the bindings for a set of platforms; this saves install time but won’t help with the libgphoto2 dependency (and its dependencies, like libusb).

[2018-05-22 19:56] positlabs commented on #102
Would be nice if I could use a docker container for this...

[2018-06-26 00:42] sadiqawos opened #103 "Unsure of how to take burst images"
I'm trying to take a burst of images with just a single takePicture call. Is there any config parameter I can pass in, or do I need to do this in some sort of loop ?

[2018-06-27 09:14] lwille commented on #103
Hi! I never tried, but depending on your camera you might want to look into eosremoterelease setting or something like that.
I'd recommend playing with the gphoto2 to see if the library / your camera supports burst mode at all.

Resource: http://gphoto-software.10949.n7.nabble.com/Burst-mode-with-libgphoto2-td4160.html

[2018-06-27 18:02] sadiqawos commented on #103
Thanks! I'll give this a try later tonight and report back

[2018-06-30 17:09] Nic2012 opened #104 "Method getConfigValue published?"
I am trying to get the value from one prop only e.g.:
[code]
But it returns
[code]
I dont want to call always getConfig, it cost too much time and produces a lot of data. gphoto2 cli delivers as a standard "--get-config=STRING] [--set-config=STRING" getter and setter on each prop.

BTW could y extend the doc by declaring the public methods what can we use in node.

Thanks for providing us this bin

[2018-06-30 21:43] Sija commented on #104
This particular method indeed is not implemented, PRs are welcome!

[2018-07-01 11:19] Nic2012 commented on #104
BTW there is another basic method missing, too:
e.g:
[code]

[2018-07-01 11:36] Nic2012 commented on #103
It works on a Nikon D700 by the follwong code:
[code]
Camera fires 2 shoots immediataley and stores them in camera.

[2018-07-11 13:12] lwille commented on #48
Closing this abandoned ticket - please reopen or comment if any of the above issues prevail in the current release;
make sure to open a new issue for support requests etc.

[2018-07-11 13:12] #48 closed

[2018-08-12 12:29] IdanCo opened #105 "Taking Continuous Pictures"
Hi,

I'm trying to take continuous pictures (about 20 frames in 5 sec).

From what i can see node-gphoto2 won't let me do that, even though gphoto seems to allow it with _frames_ and _seconds_ (see [here](http://www.gphoto.org/doc/remote/)).

Any ideas how to make node-photo2 take such pictures?

[2018-08-12 13:08] Sija commented on #105
I'd use `Camera#takePicture({ preview: true })` for that.

[2018-08-17 11:32] JStonevalley commented on #101
Hi
I would also like to find a way to do this.
I am trying to gracefully recover if the camera is disconnected and then reconnected.
At the moment, when the camera is disconnected and reconnected the camera throws an error the next time i call camera.takePicture. My original solution was to call list again but it seems like the list is not refreshed and thus no camera is found. My next solution wa

[2018-08-19 10:40] Sija commented on #105
@IdanCo Is your question answered?

[2018-11-28 11:06] Maxou44 opened #107 "Windows support"
Do you think it's possible to support Windows ?

[2018-12-18 16:33] bliptrip opened #108 "Build issue with macports"
I've seen that someone else independently posted an issue with 'node-gyp rebuild' failing, as posted at https://github.com/lwille/node-gphoto2/issues/63.  I have macports installed and had a similar issue with a failed build:

gyp info spawn args [ 'BUILDTYPE=Release', '-C', 'build' ]
   CXX(target) Release/obj.target/gphoto2/src/autodetect.o
 ../src/autodetect.cc:3:10: fatal error: 'gphoto2/gphot

[2018-12-30 15:37] JGProg commented on #68
Hi ! Have you been able to make any progress on the subject?
It's good idea :D

[2018-12-30 15:44] JGProg opened #109 "No preview / no download"
Hi guys,

I launch example but I can't see my camera screen (5DMIII) and when I download image, each time no image found... as if it wasn't downloading.. I change no setting, all by default.

I don't understand.

Thank for your help !

[2019-02-01 21:45] the-duck opened #111 "Segmentation fault: 11"
Hi,
I just wanted to test this library, which is a great idea by the way, and caught a segmentation fault error there
`  ✓ node-gphoto2 should find attached cameras: 0ms
    node-gphoto2 should provide a list of settings: ptp_usb_getresp [usb.c:482]: PTP_OC 0x1002 receiving resp failed: PTP Session Already Opened (0x201e)
camera_init [library.c:8254]: 'ptp_opensession (params, sessionid)' failed:

[2019-02-05 02:15] lwille commented on #111
Which camera are you using? Which version of libgphoto2?

[2019-02-05 12:42] the-duck commented on #111
I used the Nikon d7100 (which works just fine with the gphoto2 cli) and I just ran the test from the github repo, so latest version used I suppose?

[2019-02-07 16:30] philip100 opened #112 "Re-check the camera?"
How do I re-check if camera is connected?
This doesn't work. Whenever I reconnect my camera, it always say _'No camera detected'_

`
var camera = null;

function checkCam(){
    GPhoto.list(function (list) {
        if (list.length === 0){
            camera = null;
            console.log('No camera detected');
        }else{
            camera = list[0];
            console.log('Found', camera.m

[2019-02-10 19:29] philip100 commented on #112
I repeat the question - Is it possible to re-check camera connection?

I've tried destroying and creating new `gphoto2` object each time, but it causes _**segmentation fault**_

F.ex:

[code]

I can't imagine that I have to restart the whole app when camera goes sleep :-)
I mean, don't get me wrong - I admire your work and your time spent on this project, but what I'm asking is just basic function

[2019-02-11 19:57] philip100 commented on #112
I did some research on my own and I see that re-connection isn't implemented :-/
Thanks for support! :-)

Kindly,
Artur.

[2019-03-13 23:03] staxDB opened #114 "Capture Movie with additional parameters possible?"
I would like to execute the command
`gphoto2 --capture-movie --stdout | avconv -f mjpeg -r 25 -s 352x288 -i pipe:0 -r 20 http://localhost:8090/test.ffm`
to create a stream for a live view with avconv (previously ffmpeg)

Unfortunately I can only take pictures with this node module. Is the integration of this command with the additional parameters

 complex or could it be added quickly?

[2019-03-16 01:47] iilinii opened #115 "node-gphoto2 internal error"
I using node-gyp to build node-gphoto2, then run npm test, it print as below:
# npm test
[62956.629489] ************Serial               : 6450788685182421010f
[62956.635735] ************Serial               : 6450788685182421010f

[62962.038662] ************Serial               : 6450788685182421010f
[62962.045200] ************Serial               : 6450788685182421010f
[62965.565392] ***********

[2019-04-11 14:53] apsylone commented on #112
You should probably turn off the "autopoweroff" settings of you camera by settings it's value to "0".
That's what i've done :-)

Hope it'll help you !

[2019-04-11 15:03] apsylone commented on #104
That's a bit strange because the method is declared in the header files but not implemented.
I would love to implement it by my side, but I don't have the skills too.

Hope it'll be implemented in a next release :-)

[2019-05-04 13:40] MichaelKirov commented on #111
Hello,
I have the same problem with nikon D7100.
Library can find the camera.
However function camera.getConfig(function (er, settings) {}) - segmentation fault.
camera.setConfigValue('f-number', "f/9", function (er) {} ) - works, but with shutterspeed - doesnt work.
camera.takePicture({download: true}, function (er, data) {} ) - works

[2019-05-07 12:47] lwille commented on #111
@the-duck `libgphoto2` is a separate library that this project is wrapping. You probably installed it as dependency of this project, or by installing the `gphoto2` command.

[2019-05-07 12:50] lwille commented on #111
@MichaelKirov please also specify the exact call you used to set `shutterspeed` so others may try and reproduce the error.

Could this be related? [](https://github.com/gphoto/gphoto2/issues/69) -- at least on Canon, `shutterspeed` is set as an index instead of a fractional value; maybe you want to take a look at the output of `gphoto2 --list-config` to see what options are really available.

[2019-05-07 13:00] lwille commented on #112
Just to add my ten cents:

The quickest solution I came up with 8 years ago was a usb-controlled switch and just power cycle the camera.
I'm sorry this is something the gphoto APIs don't support (and even the cameras may not be able to do it); I remember asking the original author about it long time ago - as always, feel free to get involved there.

I investigated disabling and re-enabling the ent

[2019-05-07 13:05] lwille commented on #107
Maybe; at least you can [try building libgphoto2 on Windows](https://github.com/gphoto/gphoto2/issues/85).

[2019-05-07 13:05] #109 closed

[2019-05-07 13:08] lwille commented on #114
I'm not sure if this is the right project for this request.
Are you're asking for advice regarding `gphoto2`? Because this project is a node.js wrapper for `libgphoto2`.

[2019-06-04 17:16] MustSeeMelons opened #120 "Error on importing the module"
I have done all the setup, doing a simple `require("gphoto2")` and getting this error:

[code]

Can someone point me in the right direction?

[2019-06-26 16:54] jonnygreenwald commented on #111
Hi, I've noticed a similar issue when trying to `getConfig` while working with a FujiFilm X-T2.

I'll be honest though, that I'm not sure if this issue is entirely related, so please let me know if this should be bumped to another thread.

Whenever plugging the camera in and running some of the simple examples noted, I will receive this seg fault when running `getConfig`.

[code]

I will also noti

[2019-06-26 17:22] Sija commented on #111
This is certainly a bug, it shouldn't segfault even if _libgphoto2_ returns an error.

[2019-07-03 19:58] forever80-dev opened #122 "Raspberry pi 3 b+"
How to use in raspberrypi, i have been installed but I can not start the script do you have any idea how to use that

[2019-07-07 10:00] Fabiansson commented on #111
Im having the same issue with a Nikon D5300 and latest build of this repo.
Everything works fine except the getConfig Method. If i turn off the camera and start it it will grab the config settings once without the problem but a second time will throw a segfault. After restarting the camera again It will work for one time.

Im getting:

`ptp_usb_getresp [usb.c:465] PTP_OC 0x90c8 receiving resp fail

[2019-07-07 18:40] jonnygreenwald commented on #111
Hi all,

Apologies for the late response, I went on vacation immediately after posting this.

With the advice from my friend, @rezonant, I've added [segfault-handler](https://www.npmjs.com/package/segfault-handler) to help return a stack trace.

**Error plus stack trace:**

[code]

**Steps taken to getting this error:**

1. Using Fuji Fujifilm X-T2 ([supported](http://gphoto.org/proj/libgphoto2/su

[2019-07-31 07:49] Fabiansson opened #124 "GPhoto2 and Socket.IO incompatible"
In my project everything is working fine without GPhoto2 or without Socket.IO. Im using very fast loops with `setInterval` to redo certain tasks which have nothing to do with GPhoto2 nor Socket.IO. In fact all I do right now with GPhoto2 is this:
[code]
And I'm not even using the GPhoto object. If I uncomment this last line everything works fine again. With this line in my code I get either a `Bus

[2019-07-31 09:31] Fabiansson commented on #124
I tried this again even without temporal by only using `setInterval(0, myFunction). Same results.

[2019-08-02 01:39] brettp opened #125 "Pre-install should not install libgphoto2 on Mac OS"
The pre-install script automatically installs libgphoto2 through homebrew if it is not found. It is a very unexpected side-effect to have this package change or install new system packages.

[2019-08-04 15:35] brettp commented on #111
I am having a similar crash with a Nikon D600:

* node: v10.15.2
* node-gphoto2: 0.3.0
[code]
[code]

[2019-09-19 16:42] maaqoul commented on #64
i am having a lot of trouble implementing this, i hope you did came up with an easier approach

[2019-10-12 21:29] apsylone opened #126 "Capture movie with lib ?"
Hi,

I Would like to know if it is possible to capture a movie with this library ?
The capture works with the binary when executing this command :
"gphoto2 --set-config movie=1 --wait-event=10s --set-config movie=0 --wait-event-and-download=2s"

But it doesn't download it... But it is saved on the camera. That's a great beginning :-)

But know, I would like to know "how to" with this library ? But

[2019-10-15 17:44] maaqoul opened #127 "windows support"
is there a way i can make my app work on a windows os, how should i go about it ? what should i learn ?

[2019-10-15 18:10] positlabs commented on #127
Have you tried Docker? That would let you run linux on windows

[2019-10-15 20:40] maaqoul commented on #127
is there a resource i can use to learn this ? thank you for your answer !

[2019-10-18 19:13] positlabs commented on #127
https://docs.docker.com/get-started/

[2019-10-18 21:40] maaqoul commented on #127
thank you

[2019-10-18 21:40] #127 closed

[2019-10-26 13:57] ZackMattor opened #128 "Build error on node 12"
I can provide more details later - on a time crunch at the moment. But just for people trying to use the lib and getting build errors while installing the package wit NPM - just roll back to using node 11 for now.

Will try to capture logs for debugging later.

[2019-11-18 21:10] sops21 commented on #124
Did you ever resolve this?

[2020-01-18 21:29] jtleniger opened #129 "error: no matching function for call to ‘v8::FunctionTemplate::GetFunction()’"
Can't build due to this error.

Seems to be coming from constructor.Reset(tpl->GetFunction()); in gphoto.cc and camera.cc.

Any ideas?

[2020-01-18 21:30] jtleniger commented on #129
`../src/gphoto.cc:55:38: error: no matching function for call to ‘v8::FunctionTemplate::GetFunction()’
   constructor.Reset(tpl->GetFunction());`

[2020-01-19 17:04] jtleniger commented on #128
@ZackMattor is it the same error as #129 ?

[2020-01-20 07:50] lwille commented on #129
Hey! Can you please describe your environment, most importantly node version and OS type (Linux/Darwin)?

[2020-01-29 20:53] jtleniger commented on #129
Hello! I think it may be related to the Lubuntu distro I was using, perhaps. I tried it again on a fresh Ubuntu box with no issues.

[2020-02-01 23:07] lwille commented on #129
I'm assuming that this can be closed.

[2020-02-01 23:07] #129 closed

[2020-02-02 00:01] lwille commented on #126
Hi! I know it's been a while since this was asked, but still:

This library is just a wrapper around `libgphoto2`. To give you a pointer, here's what you could do:
- use `takePicture` and `writeFile` to write a bunch of jpeg frames to disk
- use `ffmpeg` to combine these frames into a movie.

[2020-02-02 00:01] #126 closed

[2020-03-12 09:39] #115 closed

[2020-03-12 09:41] lwille commented on #120
I have no experience with TypeScript. If you want to use this module, I'd recommend to stick with node.js for the time being.

[2020-03-12 09:41] #120 closed

[2020-03-12 09:43] lwille commented on #125
I agree, feel free to submit a PR!

[2020-03-12 09:46] lwille commented on #108
This sounds like a good thing to do. @bliptrip seems to have some experience with `pkg-config`, feel free to post a PR!

[2020-03-12 17:16] brettp commented on #125
I no longer use this package.

[2020-03-13 15:38] #125 closed

[2020-04-11 13:27] pawelrupek commented on #128
I experienced the same issue with Node 13 and believe that this error is indeed related to #129. I can provide a pull request which works with Nodejs v13 (all tests are passing on Linux with a Canon EOS 700D), but I do not have time to test backward compatibility.

Caveats:
* I did not fix the compiler warnings
* I have no experience with V8 or Nan

[code]

Here's the build output before fixing th

[2020-04-12 20:35] philipptrenz commented on #128
I'm trying to build `node-gphoto2` against Node v12, also having some issue:

[code]

The issue seems to be `GetFunction()`, which needs `context` as argument.

[2020-04-21 09:22] #128 closed

[2020-05-05 16:13] MiningPickaxe opened #134 "Event listeners"
Hey,
I'm not sure if I missed it, but afaik there are no event listeners implemented right?
I'd like to execute a code snipped every time the shutter is pressed, for that I'd need something like
`camera.onCapture(){//dothemagic}`.
If that is not yet implemented, I'd like to submit this as a feature request :)

[2020-07-07 16:01] boutils commented on #107
Hi guys, I would really appreciate some help. I found a way to install libgphoto2 on Windows 10. I can execute successfully `gphoto2 --auto-detect`.

When capturing an image from a cmd prompt with `gphoto2 --capture-image-and-download` it works as expected and I can find my picture on my disk.

The problem is I can't find a way to install this lib, when doing `npm i gphoto2` I got all these errors

[2020-11-05 14:47] lwille commented on #107
Sorry, this somehow got buried - this error is caused by the `preinstall` script in `package.json` - did you try just removing the script, as it's not expecting to run inside a Windows environment?

[2020-11-05 14:58] boutils commented on #107
Nope unfortunately, I switched to `digiCamControl`.

[2020-12-12 09:14] Antoni-Petrenko opened #136 "After using "takePicture" the camera is stuck."
After using "takePicture" the camera is stuck. Then when I need to make the next photo I get the message that the PTP Device Busy

But when I use CLI gphoto2 --capture-image
everything works fine.

I use NodeJS 12.13.0
Camera summary:
Manuf: Nikon Corp
Model: D5100

[2020-12-14 10:11] lwille commented on #136
Hi @Antoni-Petrenko, would you mind sharing a code snippet that indicates how you're using `takePicture`?

[2021-03-04 09:16] lwille commented on #136
Closing issue for a lack of feedback.

[2021-03-04 09:16] #136 closed

[2021-03-04 09:18] lwille commented on #124
Closing this; feel free to reopen if this still a problem.

[2021-03-04 09:18] #124 closed

[2021-03-04 09:19] lwille commented on #1
Closing stale issue.

[2021-03-04 09:19] #1 closed

[2021-03-04 09:20] lwille commented on #68
Sadly there was no progress on this feature. Closing for inactivity.

[2021-03-04 09:20] #68 closed

[2021-03-04 09:22] lwille commented on #71
Closing this very old feature request; feel free to reopen if somebody finds the time to suggest an implementation.

[2021-03-04 09:22] #71 closed

[2021-03-04 09:23] lwille commented on #104
Closing this very old feature request; feel free to reopen if somebody finds the time to suggest an implementation.

[2021-03-04 09:24] lwille commented on #75
Closing this because of inactivity.

[2021-03-04 09:24] #75 closed

[2021-03-04 09:24] lwille commented on #101
There's still no solution to this; closing for inactivity - feel free to reopen if somebody finds the time to suggest an implementation.

[2021-03-04 09:25] #101 closed

[2021-03-04 09:25] #107 closed

[2021-03-04 09:25] lwille commented on #107
Closing this old feature request; feel free to reopen if somebody finds the time to suggest an implementation.

[2021-03-04 09:26] lwille commented on #103
This issue looks solved / question answered; closing for inactivity. Feel free to reopen/comment though.

[2021-03-04 09:26] #103 closed

[2021-03-04 09:26] #104 closed

[2021-03-04 09:27] lwille commented on #108
Closing for inactivity.

[2021-03-04 09:27] #108 closed

[2021-08-18 00:04] tbranyen opened #142 "Nan::ObjectWrap::Unref(): Assertion `!persistent().IsWeak()' failed."
This error happens when I call the `list()` function on a 1s interval poll. I do this to ensure that the camera is still connected and detect if new cameras have been added. Doing this causes a crash consistently:

[code]

Commenting out the [following line](https://github.com/lwille/node-gphoto2/blob/master/src/gphoto.cc#L214) prevents the fatal exception from being raised. I suspect this indicat

[2021-11-13 11:39] gentilmente opened #143 "change binding.gyp for mac building the package"
I`m not an expert, sorry if this is not the correct way of ask for this change. It solved me a building problem.

`      'cflags': [
        '--std=c++11'
      ],`

`'OTHER_CPLUSPLUSFLAGS' : [
              '-std=c++11',`

In both cases change it to 14

My system:
mac osx 12.0.1
updated xcode cli tools
node 14.16.0

[2021-11-29 22:20] gentilmente commented on #143
In the same direction, in order to be able to upgrade node to v16 you need to folow these instructions
  `https://github.com/electron/electron/issues/18397`
in bining.cc:

[code]

[2022-01-07 17:14] edouardlib opened #144 "mach-o file have 'x86_64', need 'arm64e'"
I'm posting an issue since I can't find a way to resolve this.
Everything is installed find but when I want to use gphoto2 the module can't find the right file.

I'm working on a
- MacOS 12
- Apple Silicon M1 max.

With
- Nodejs 12

I've already search on the known and resolved issues.

Thanks you!

[code]

[2022-01-29 12:02] edouardlib commented on #144
Any advice? :)

[2022-03-09 18:23] vkedwardli commented on #107
@boutils thanks for the suggestion, it is very convenient with the built-in webserver

[2022-05-23 15:04] tmm42 commented on #111
I am having troubles with segmentations / bus errors.

Installed packages:

- Node: v12.13.0
- node-gphoto2: 0.3.2

and

- gphoto2         v2.5.28         clang, popt(m), exif, no cdk, no aa, jpeg, readline
- libgphoto2     v2.5.29         standard camlibs, clang, no ltdl, no EXIF
- libgphoto2_port v0.12.0         iolibs: disk ptpip serial usb1, clang, no ltdl, no EXIF, USB, serial without locking